{{ if .Site.Data.studios.enable}}
{{"<!-- service -->" | safeHTML }}
<section id="studios" class="bg-one section">
    <div class="container">
        <div class="row">

            {{"<!-- section title -->" | safeHTML }}
            <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                <h2>{{ with .Site.Data.studios.heading }} {{ . }} {{ end }}<span class="color">{{ with .Site.Data.studios.headingSpan }} {{ . }} {{ end }}</span></h2>
                <div class="border"></div>
            </div>
            {{"<!-- /section title -->" | safeHTML }}

            {{ range .Site.Data.studios.serviceItem}}
            {{"<!-- Single Studio Item -->" | safeHTML }}
            <article class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="{{ .icon }}"></i>
                    </div>
                    <h3>{{ .title }}</h3>
                    <p>{{ .content }}</p>
                </div>
            </article>
            {{"<!-- End Single Service Item -->" | safeHTML }}
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /service -->" | safeHTML }}
{{ end }}